{% extends 'MailingListManagement/base.html' %}
{% load my_tags %}
{% block content %}
<div class="container py-5">
    <h1 class="mb-4">Список Рассылок</h1>

    <div class="mb-3">
        <a class="btn btn-success" href="{% url 'mailing_list_management:newsletter_create' %}" role="button">Создать Новую Рассылку</a>
    </div>

    <div class="album bg-body-tertiary">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for newsletter in object_list %}
            {% if newsletter.owner == request.user %}
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Получатели: {{ newsletter.recipients.count }}</h5>
                        <p class="card-text">Сообщение: {{ newsletter.message.subject }}</p>
                        <p class="card-text">Статус: {{ newsletter.status }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-primary" href="{% url 'mailing_list_management:newsletter' mailing.pk %}" role="button">Посмотреть</a>
                                <a class="btn btn-warning" href="{% url 'mailing_list_management:newsletter_update' mailing.pk %}" role="button">Редактировать</a>
                                <a class="btn btn-danger" href="{% url 'mailing_list_management:newsletter_delete' mailing.pk %}"
                                   onclick="return confirm('Вы уверены, что хотите удалить эту рассылку?');" role="button">Удалить</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% empty %}
            <div class="col-12">
                <div class="alert alert-info" role="alert">
                    Нет рассылок для отображения.
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}